@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-body">
    <div class="bg-white">
        <h5> Connection Status: <span id="signalRStatus"><b>Connecting...</b></span></h5>
        <div class="group-15 p-3 d-flex flex-wrap align-items-center justify-content-lg-between">
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-align-1" id="deviceTable">
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 80px;">Device ID</th>
                        <th scope="col" style="min-width: 80px;">Temperature (<span>&#8457;</span>)</th>
                        <th scope="col" style="min-width: 80px;">Message Received Time</th>
                    </tr>
                </thead>
                <tbody id="deviceList">
                    <tr>
                        <td>
                            <b colspan="7">No device messages are coming through right now...</b>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr.js"></script>
<script src="~/js/iotmessageSignalR.js"></script>